@use "sass:map";
@import "theme";
@import "responsive";




html,
body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.bg-green-grab {
  --tw-bg-opacity: 1;
  background-color: rgb(0 177 79 / var(--tw-bg-opacity));
}

.text-green-grab {
  --tw-bg-opacity: 1;
  color: rgb(0 177 79 / var(--tw-bg-opacity));
}
.container {
  max-width: 1300px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
  margin: auto;
}
.container1 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 250%;
}

.top_header {
  box-shadow: 2px 2px 4px rgba(54, 54, 54, 0.055);
}

@include Responsive($MEDIUM_DEVICE) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
